@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Global Styles */

:root {
  --primary-color: #007bff; /* Define primary color */
  --secondary-color: #666; /* Define secondary color */
  --font-family: "Poppins", sans-serif; /* Define font family */
  --max-container-width: 1600px; /* Define max container width */
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

.container {
  padding: 5px;
  margin: 0 auto;
  max-width: var(--max-container-width);
  background-color: white;
}

button {
  font-size: var(--font-family);
  color: var(--primary-color);
}

/* Common styles for input and select elements */
.filters input[type="text"],
.filters select {
  font-family: "Poppins", sans-serif; /* Apply Poppins font */
  width: calc(100% - 20px); /* Adjust width to accommodate padding */
  padding: 12px; /* Increase padding for better visual appearance */
  margin-bottom: 15px; /* Increase margin for better spacing */
  border: 1px solid #ddd; /* Lighter border color for softer look */
  border-radius: 8px; /* Increase border radius for rounded corners */
  font-size: 16px;
}

.filters input[type="text"]:focus,
.filters select:focus {
  outline: none;
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add box shadow on focus for emphasis */
}

/* Grid layout for filter elements */
.filters {
  font-family: "Poppins", sans-serif; /* Apply Poppins font */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /* Increase grid gap for better spacing */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .filters {
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }
}
